layout {
    pane split_direction="horizontal" {
        pane
    }

    pane size=1 borderless=true {
        plugin location="file:/home/junior/.config/zellij/plugins/zjstatus.wasm" {
            color_rosewater "#f5e0dc"
            color_flamingo "#f2cdcd"
            color_pink "#f5c2e7"
            color_mauve "#cba6f7"
            color_red "#f38ba8"
            color_maroon "#eba0ac"
            color_peach "#fab387"
            color_yellow "#f9e2af"
            color_green "#a6e3a1"
            color_teal "#94e2d5"
            color_sky "#89dceb"
            color_sapphire "#74c7ec"
            color_blue "#89b4fa"
            color_lavender "#b4befe"
            color_text "#cdd6f4"
            color_subtext1 "#bac2de"
            color_subtext0 "#a6adc8"
            color_overlay2 "#9399b2"
            color_overlay1 "#7f849c"
            color_overlay0 "#6c7086"
            color_surface2 "#585b70"
            color_surface1 "#45475a"
            color_surface0 "#313244"
            color_base "#1e1e2e"
            color_mantle "#181825"
            color_crust "#11111b"

            format_left  "{mode}#[fg=$crust,bg=$blue,bold] {session}  #[fg=blue,bg=#181825]"
            format_center "{tabs}"
            format_right "#[fg=$mantle,bg=$subtext1]{datetime}"
            format_space "#[bg=$mantle]"

            hide_frame_for_single_pane "true"

            mode_normal  "#[bg=$blue,fg=$crust] NORMAL 󰄬  "
            mode_tmux "#[bg=$peach,fg=$crust] TMUX   "
            mode_pane "#[bg=$lavender,fg=$crust] PANE    "
            mode_tab "#[bg=$green,fg=$crust] TAB 󰓩   "
            mode_locked "#[bg=$red,fg=$crust] LOCK   "
            mode_session "#[bg=$teal,fg=$crust] SESSION   "

            tab_normal              "#[fg=#181825,bg=#4C4C59] #[fg=#000000,bg=#4C4C59]{index}  {name} #[fg=#4C4C59,bg=#181825]"
            tab_normal_fullscreen   "#[fg=#6C7086,bg=#181825] {index} {name} [] "
            tab_normal_sync         "#[fg=#6C7086,bg=#181825] {index} {name} <> "
            tab_active              "#[fg=#181825,bg=#ffffff,bold,italic] {index}  {name} #[fg=#ffffff,bg=#181825]"
            tab_active_fullscreen   "#[fg=#9399B2,bg=#181825,bold,italic] {index} {name} [] "
            tab_active_sync         "#[fg=#9399B2,bg=#181825,bold,italic] {index} {name} <> "


            datetime          "#[fg=#6C7086,bg=#b1bbfa,bold] {format} "
            datetime_format   "%A, %d %b %Y %H:%M"
            datetime_timezone "America/Bahia"
        }
    }
}
